.analytics {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 16rem;
    margin-top: 5rem;
    transition: all 0.3s ease;
}

.analytics.collapsed {
    left: -30%;
}

