.about-us {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    position: relative;
}

.about-us.expanded .search-bar{
    width: 220%;
    transition: all 0.3s ease;
}

.about-us.expanded .search-bar-container{
    right: 60%;
    transition: all 0.3s ease;
}

.background-images {
    position: absolute;
    top: -1%;
    right: -1rem;
    height: 100%;
    width: 36%;
    overflow: hidden;
}

.background-images img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: opacity 2s ease-in-out;
}

.Welcome-header {
    font-size: 2rem;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #0c2c4a;
    z-index: 1;
}

.Welcome-header::before {
    content: '';
    position: absolute;
    left: 0;
    top: -2rem;
    bottom: 0;
    width: 6px;
    background-color: #0e3459;
}

.Welcome-header::after {
    content: '';
    position: absolute;
    left: 0;
    right: -1rem;
    top: -2rem;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    z-index: -1;
}

.Welcome-header h1{
    width: 10rem;
    margin-left: -25%;
}

.search-bar-container {
    position: absolute;
    top: 50%;
    right: 45%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: all 0.3s ease;
}

.search-bar {
    width: 170%;
    height: 50px;
    border-radius: 30px;
    padding: 5px 20px;
    font-size: 18px;
    background-color: rgba(14, 52, 89, 0.63);
    border: 1px solid rgb(14, 52, 89);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    background-clip: padding-box;
    margin: 10px;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.search-bar:focus {
    outline: none;
    border: 3px solid #00d4c2;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.2);
}

.search-bar::placeholder {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
