.sidebar {
    width: 17rem;
    height: 100vh;
    background-color: #0c2c4a;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    left: 0;
    top: 0;
    position: fixed;
    font-family: 'Poppins', sans-serif;
    transition: width 0.3s ease;
    z-index: 2;
}

.sidebar.collapsed {
    width: 4rem;
}

.sidebar-toggle {
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px;
    cursor: pointer;
}

.toggle-icon {
    width: 30px;
    height: 30px;
    padding: 0.25rem;
}

.toggle-icon:hover{
    background-color: #efefef;
    padding: 0.25rem;
    border-radius: 50px;
}

.sidebar li:hover .sidebar-link span {
    text-shadow: 0 0 10px #cdcdcd;
}

.sidebar li:hover .sidebar-icon {
    filter: drop-shadow(0 0 10px #cdcdcd);
}
.sidebar-logo {
    width: 170px;
    margin-bottom: 2rem;
    margin-left: 3rem;
    transition: margin-left 0.3s ease;
}

.sidebar.collapsed .sidebar-logo {
    margin-left: 16rem;
    transition: margin-left 0.3s ease;
}

.sidebar-link {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
}

.sidebar li {
    list-style-type: none;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.sidebar.collapsed .sidebar-link{
    justify-content: center;
    margin-top: 5rem;
    padding: 0.5rem;
}

.sidebar-icon {
    width: 2rem;
    margin-right: 1rem;
    position: absolute;
    left: 1rem;
}

@font-face {
    font-family: 'Poppins';
    src: url('../Font/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

